body {
  margin: 0;
  padding: 0;
  font-family: Hiragino Mincho ProN;
  background: linear-gradient(100deg, #dde0c6, #66888d);
  height: 100vh;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  background: white;
  width: 600px;
  height: 70vh;
  border-radius: 20px;
}

.login form {
  padding: 0px 40px;
  box-sizing: border-box;
}

form .textfield {
  position: relative;
  width: 300px;
  margin: 30px 0;
  height: 50px;
  padding: 14px 10px;
  font-size: 16px;
  transition: 0.25s;
  border-radius: 25px;

  background: none;
  text-align: center;
  border: none;
  display: block;
  border: 2px solid #425b5f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.textfield input {
  width: 100%;
}

.login label {
  font-size: 30px;
}

button.submit {
  width: 300px;
  height: 50px;
  border: 1px solid;
  background: #b9bca5;
  border-radius: 25px;
  font-size: 20px;
  color: #425b5f;
  font-weight: 700;
  cursor: pointer;
}

button.submit:hover {
  background-color: #061826;
  border-width: 5px;
  transition: 0.25s;
  color: white;
}

.signuplink {
  margin: 30px 0;
  text-align: center;
  font-size: 20px;
  color: grey;
}

.signuplink a {
  color: #b9bca5;
}

.signuplink :hover {
  color: #425b5f;
}

.welcome {
  font-family: "Beth Ellen", cursive;
  text-align: center;
  color: #425b5f;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid silver;
  left: 30%;
  font-weight: 500;
}

.errormessage {
  color: red;
  text-align: center;
}
