.InfoWindow > h3 {
    background-color:red;
}



h1 {
    
    position: absolute;
    left: 1rem;
    color: blue;
    z-index: 10;
    padding: 0;

}

.dialog {
    background-color: brown;
}


.gm-style-iwgm-style-iw-c{
    background-color: blueviolet;

}



.search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 200px;
    z-index: 10;
    height: 100px;
    padding: 2%;
}

.locate {
    position: absolute;
    top: 1rem;
    right: -8rem;
    background: none;
    border: none;
    z-index: 10;
} 

.compass {
    margin-top: 20%;
    width: 30%;
    height: 30%;
}

input.zoomcity {
    min-height: 60px;
    min-width: 300px;
    padding: 4%;
    font-family: Hiragino Mincho ProN;
    
}

.gm-style .gm-style-iw-c {
    display: flex;
    position: fixed;
    left: 650px;
    top: 370px;
    /* transform: translate3d(70%,3%,0); */
}

h2{
    font-family: 'Beth Ellen', cursive;
}

p{
    font-size: 20px;
    font-family: Hiragino Mincho ProN;
}

.resImage {
    width: 200px;
}
