.profileimage{
    width: 200px;
    height: 90vh;
    top: 0;
    left: 0;
    transform: translate(50%, -50%);
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main_container h2{
    font-family: 'Beth Ellen', cursive;
    font-size: 3.2rem;
    height: 15vh;
    background-color: white;
    background-image: linear-gradient(to top, #061826 0%, #1b5c8d 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_container h3 {

}

