.profileimage {
  width: 800px;
  height: 800px;
  top: 0;
  left: 0;
  transform: translate(10%, 0%);
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main_container h2 {
  font-family: "Beth Ellen", cursive;
  font-size: 2.5rem;
  height: 12vh;
  text-align: center;
  background-color: white;
  background-image: linear-gradient(to top, #061826 0%, #1b5c8d 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_container h4 {
  font-size: 2.5rem;
  background-color: white;
  font-family: "Alex Brush", cursive;
  text-align: center;
  background-image: linear-gradient(to top, #218291 0%, #111b1d 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translate(0%, -80%);
}

.main_container p {
  margin-top: 1rem;
  font-weight: 2rem;
  font-weight: 700;
  font-size: 18px;
  font-family: "Hiragino Mincho ProN";
}

.displayreviews {
  padding: 20px 0px;
}

.displayreviews p {
  text-align: center;
  font-family: "Alex Brush", cursive;
  font-size: 40px;
  background-color: white;
  background-image: linear-gradient(to top, #061826 0%, #1b5c8d 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resName {
  background: #18374e;
  color: white;
  font-size: 22px;
  font-family: "Hiragino Mincho ProN";
  font-weight: 700;
}

.review {
  font-size: 18px;
  font-family: "Hiragino Mincho ProN";
}

table {
  border-collapse: collapse;
  width: 500px;
  height: 100px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px rgba(0, 0, 0, 0.2);
}

tr {
  transition: all 0.2s ease-in;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #245174;
  color: white;
}

tr:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .profileimage {
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
    transform: translate(-95%, 150%);
  }
}
