.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  font-size: 30px;
  background: white;
  width: 600px;
  height: 80vh;
  border-radius: 20px;
  padding-top: 30px;
}

.wrapper form {
  padding: 20px 40px;
  box-sizing: border-box;
}

form.form {
  padding: 20px;
}

input.form-control2 {
  position: relative;
  margin: 30px 0;
  height: 50px;
  padding: 14px 10px;
  font-size: 16px;
  transition: 0.25s;
  border-radius: 25px;
  background: none;
  text-align: center;
  display: block;
  border: 2px solid #425b5f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.form-group input {
  width: 300px;
}

.wrapper label {
  font-size: 30px;
}

button.submit {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button.form-control:hover {
  background-color: #2ecc71;
  border-width: 5px;
  transition: 0.25s;
}

.join {
  font-family: "Beth Ellen", cursive;
  text-align: center;
  color: #425b5f;
  padding: 0px 0px 20px 0px;
}

.lg {
  /* align-items: center; */
  /* justify-items: center; */
  display: block;
  text-align: center;
  font-family: "Hiragino Mincho ProN";
  font-weight: 700;
  top: 90%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 200%);
  font-size: 18px;
  color: #425b5f;
}