/* h1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: blanchedalmond;
    z-index: 10;
    margin: 0;
    padding: 0;
} 

/* .search {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
}*/

.locate {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
} 